{% extends 'components/base.html' %}
{% block main %}
    <section>
     <div class="">
            <a href="{% url 'django_app:get_profiles' %}"
               class="btn btn-lg btn-outline-danger btn-danger text-light m-1 px-5">
                <i class="fa-solid fa-arrow-left fa-fade"></i> Назад
            </a>
        </div>
    <div class="container py-5">
    <div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                     alt="avatar"
                     class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{ user_profile.first_name }} {{ user_profile.last_name }}</h5>
                <p class="text-muted mb-1">Пользователь</p>
                <p class="text-muted mb-4">Казахстан</p>
                <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary">Follow</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                </div>
            </div>
        </div>
        <h2 class="text-primary">Последние объявления</h2>
        <div class="row justify-content-center bg-white rounded-3">
                {% for post in posts %}
                    <div class="col-md-4">
                        <div class="bg-light mx-5 p-3 rounded-3 w-100">
                            <img src='{{ post.image.url }}'
                                 class="bd-placeholder-img card-img-top rounded-3" width="200"
                                 height="200"/>
                            <br>
                            <br>
                            <p class="text-dark">
                            </p>
                            <div class="card-header text-dark"><b>{{ post.title }}</b></div>
                            <div class="card-body text-dark">
                                <p class="card-text">Цена: {{ post.price }} тенге</p>
                                <p class="card-text"> {{ post.description |truncatechars:10 }}</p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="{% url 'django_app:read_one' post.id %}"
                                       class="btn btn-sm btn-outline-secondary m-1">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    <div class="col-lg-8">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Полное имя</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ user_profile.email }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Номер телефона</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ user_profile.phone_number }}</p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-primary">Отзывы</h1>
    <div class="w-100">
    <form action="{% url 'django_app:profile_comment_create' user_profile.id %}"
          method="POST"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                    <div class="card-body p-4">
                        <div class="form-outline mb-4">
                            <input type="text" id="addANote" class="form-control" maxlength="300"
                                   minlength="1" required placeholder="Ваш отзыв..."
                                   name="text">
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm">Отправить отзыв</button>
                        </div>
                        {% for comment in profile_comments %}

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p>{{ comment.text }}</p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                                                     alt="avatar" width="25"
                                                     height="25"/>
                                                <p class="small mb-0 ms-2 text-dark">{{ comment.user }}</p>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <a href="{% url 'django_app:post_comment_delete' comment.id %}"
                                                   class="text-decoration-none btn">
                                                    <i class="fa-solid fa-trash fa-bounce text-danger"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                            {% include 'components/paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </form>





{% endblock main %}
