{% extends "components/base.html" %}

{% block title %}Изменение{% endblock title %}
{% block main %}

    <div class="container container-fluid">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-comment"></i>
        <main class="form-signin">
            <div class="py-5 text-center">
              <h2>Создайте своей объявление!</h2>
              <p class="lead">заполните поля и нажмите создать</p>
            </div>

            <div class="row g-5 justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <form action="{% url 'django_app:post_create' %}"
                          method="POST"
                          enctype="multipart/form-data"
                    >
              {% csrf_token %}
                         {{ form.as_p }}
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">Название</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="" name="title">
                    <div class="invalid-feedback">
                    </div>
                </div>
    <br>
                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Описание</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" name="description">
                    <div class="invalid-feedback">
                    </div>
                </div>

                <div class="col-12">
                  <label for="username" class="form-label">Цена</label>
                  <div class="input-group has-validation">
                      <span class="input-group-text">#</span>
                      <input type="number" class="form-control" id="username" placeholder="Имя пользователя" required="" name="price">
                      <div class="invalid-feedback">
                      </div>
                  </div>
                </div>

                <div class="col-12">
                    <label for="address" class="form-label">Фото</label>
                    <input type="file" class="form-control-file" id="address" placeholder="12345Qwerty!..." required="" name="image">
                    <div class="invalid-feedback">
                    </div>
                </div>

            </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">создать</button>
                    </form>
                </div>
            </div>
        </main>
    </div>


{% endblock main %}