  <header class="mb-auto">
   <div>
      <h3 class="float-md-start mb-0 border-bottom border-white rounded-bottom px-5">Diploma</h3>
      <nav class="nav nav-masthead justify-content-around float-md-end border-bottom border-white rounded-bottom">
          <a class="nav-link fw-bold py-1 px-xxl-5 active" aria-current="page" href="#">Home</a>
          <a class="nav-link fw-bold py-1 pr-xxl-5" href="#">Features</a>
          <a class="nav-link fw-bold py-1 px-xxl-5" href="#">Contact</a>


      </nav>
    </div>
  </header>